@font-face {
  font-family: "Montserrat-Medium";
  font-style: normal;
  src: url("./Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-Regular";
  font-style: normal;
  src: url("./Montserrat-Regular.woff") format("woff");
}

.App {
  text-align: center;
}

/* Forced antDesign css */
.ant-pagination-item-link {
  background-color: #1a1a1a !important;
  border: none !important;
}

.ant-pagination-item {
  background-color: #1a1a1a !important;
  border: none !important;
}

.anticon {
  color: orange !important;
}

.anticon:hover {
  color: white !important;
}

.ant-pagination-item a {
  color: orange !important;
}

.ant-pagination-item a:hover {
  color: white !important;
}

.ant-pagination-options-quick-jumper {
  color: orange;
}

.ant-pagination-options-quick-jumper input {
  background-color: #1a1a1a !important;
  border: solid orange 1px !important;
  color: white !important;
}

.ant-pagination-item-ellipsis {
  color: orange !important;
}

.MuiCardContent-root {
  background-color: #1a1a1a;
  height: 100px;
}

.MuiSvgIcon-root {
  color: orange;
}

.MuiTypography-root {
  color: white !important;
  font-family: "Montserrat-Regular" !important;
  font-weight: bold !important;
}

.MuiCardMedia-img {
  height: 400px;
}

.MuiCardActions-root {
  background-color: #1a1a1a;
}

.MuiButtonBase-root {
  background-color: #262626 !important;
  color: #5799ef !important;
  text-transform: capitalize !important;
  font-family: "Montserrat-Medium" !important;
  font-weight: bold !important;
}

.MuiButtonBase-root:hover {
  background-color: #333 !important;
}

.ant-card-head-title {
  font-family: "Montserrat-Medium";
  font-weight: bold;
}

.MuiTypography-body1 {
  color: black !important;
}

.ant-table-wrapper {
  background-color: black !important;
}

.ant-table-row {
  background-color: black !important;
  color: #8b8a8a !important;
  border-color: #262626 !important;
}

.anticon-delete {
  color: orange !important;
}

.ant-btn-primary {
  background-color: orange !important;
  border-color: orange !important;
}

.ant-table-content th {
  background-color: #262626 !important;
  color: orange !important;
  text-align: center !important;
  border-color: #8b8a8a !important;
}

.ant-table-content td {
  border-color: #262626 !important;
}

.delete-btn {
  background-color: #333 !important;
  border-color: #333 !important;
}

body {
  background-color: black !important;
}

.ant-table-placeholder {
  background-color: black !important;
}

.ant-empty-description {
  color: #8b8a8a !important;
}

.ant-empty-img-simple-g {
  background-color: white !important;
}

.ant-select-selector {
  background-color: #1a1a1a !important;
  color: white;
  border: solid orange 1px !important;
}

.ant-select-dropdown {
  position: fixed !important;
  background-color: #1a1a1a !important;
}

.ant-select-item-option {
  color: orange !important;
}
